NODE_ENV=development
PORT=3002

# MongoDB
MONGODB_URI=mongodb://billing_user:billing_pass123@localhost:27017/billing_service?authSource=admin

# RabbitMQ
RABBITMQ_URL=amqp://oficina:oficina123@localhost:5672

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-2927797099283556-051717-4be6a390e5b403f5c117673fbd3d9857-3406336959
MP_WEBHOOK_SECRET=oficina_webhook_secret
